.sky-container {
    position: relative;
    overflow: hidden;
}

.planet-path {
    position: absolute;
    border-radius: 50%;
    border: 2px dashed #3498db;
}

.planet {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: transform 0.5s linear;
}

.planet-start-time, 
.planet-end-time{
    position: absolute;
    bottom: 0;
}
