<div 
  *ngIf="info.dayLength > 0" 
  class="flex flex-col min-h-screen items-center place-content-center py-4"
  [ngClass]="info.isDay ? 'bg-blue-300' : 'bg-blue-950 text-gray-300'">

  <app-main-info 
    [info]="{temperature: info.temperature, city: info.city, country: info.country, isDay: info.isDay}">
  </app-main-info>

  <app-forecast-card [info]="{isDay: info.isDay}">
  </app-forecast-card>

  <app-sun-moon-earth-position
    class="mt-5"
    [options]="{size: 130, planetSize: 40}" 
    [info]="{sunrise: info.sunrise, sunset: info.sunset, dayLength: info.dayLength, isDay: info.isDay}">
  </app-sun-moon-earth-position>

  <app-moon-phases></app-moon-phases>

  
</div>





<!-- <div class="sprite sprite-0"></div> 
<div class="sprite sprite-1"></div>  -->